<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.ios.simulator.launchConfigurationType">
<stringAttribute key="ATTR_PROJECT_NAME" value="Fermer_David_Project2"/>
<stringAttribute key="device_id" value="D7FE5546-C9D8-4040-A5D6-F2300F017829"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Fermer_David_Project2"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.ui.logLevelFilteringProcessFactory"/>
<stringAttribute key="sdk_version" value="8.1"/>
<stringAttribute key="simulator_version" value="8.1"/>
</launchConfiguration>
